.mac-book-pro-14-1, .mac-book-pro-14-1 * {
    box-sizing: border-box;
    }
.mac-book-pro-14-1 {
   background: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
    overflow: hidden;
   }

.vector-1 {
   position: absolute;
    left: -1px;
   top: -2px;
    overflow: visible;
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-13-removebg-preview-5 {
   opacity: 0.12999999523162842;
    width: 115px;
    height: 151px;
    position: absolute;
    left: 1111.83px;
   top: -0.41px;
    transform-origin: 0 0;
    transform: rotate(17.916deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-13-removebg-preview-4 {
   opacity: 0.12999999523162842;
    width: 178.22px;
    height: 232.69px;
    position: absolute;
    left: 475.49px;
   top: 583px;
    transform-origin: 0 0;
    transform: rotate(15.068deg) scale(1, 1);
   }

.prep-rate-para-la-aventura-intelectual-de-tu-vida {
   color: #ffffff;
    text-align: left;
    font: 600 58px 'Nunito Sans', sans-serif;
    position: absolute;
    left: 136px;
   top: 320px;
    width: 736px;
    height: 155px;
   }

.group-1 {
   position: absolute;
    inset: 0;
   }

.rectangle-1 {
   background: #ed709a;
    border-radius: 50px;
    width: 197px;
    height: 64px;
    position: absolute;
    left: 137px;
   top: 630px;
   }

.juega-ahora {
   color: #ffffff;
    text-align: center;
    font: 600 21px 'Nunito Sans', sans-serif;
    position: absolute;
    left: 138px;
   top: 648px;
    width: 196px;
    height: 36px;
   }

.el-universo-donde-la-trivia-cobra-vida-enfrenta-desaf-os-compite-con-jugadores-globales-y-escala-hasta-la-cima-del-saber-desc-brelo-ahora-y-sum-rgete-en-el-desaf-o {
   color: #ffffff;
    text-align: left;
    font: 600 16px 'Nunito Sans', sans-serif;
    position: absolute;
    left: 137px;
   top: 548px;
    width: 480px;
    height: 76px;
   }

.cerebro-inicio {
   width: 566px;
    height: 526px;
    position: absolute;
    left: 919px;
   top: 228px;
   }

.group-2 {
   position: absolute;
    inset: 0;
   }

.preguntop-a {
   color: #ffffff;
    text-align: left;
    font: 900 32px 'Nunito Sans', sans-serif;
    position: absolute;
    left: 288px;
   top: 115px;
    width: 243px;
    height: 50px;
   }

.logo {
   width: 116px;
    height: 117px;
    position: absolute;
    left: 136px;
   top: 82px;
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-13-removebg-preview-1 {
   opacity: 0.12999999523162842;
    width: 115px;
    height: 151px;
    position: absolute;
    left: 802px;
   top: 534.88px;
    transform-origin: 0 0;
    transform: rotate(-9.953deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-13-removebg-preview-3 {
   opacity: 0.12999999523162842;
    width: 115px;
    height: 151px;
    position: absolute;
    left: 627.72px;
   top: -13.27px;
    transform-origin: 0 0;
    transform: rotate(10.447deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-13-removebg-preview-6 {
   opacity: 0.12999999523162842;
    width: 315.53px;
    height: 406.45px;
    position: absolute;
    left: 832.7px;
   top: -210.21px;
    transform-origin: 0 0;
    transform: rotate(10.447deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-13-removebg-preview-2 {
   opacity: 0.12999999523162842;
    width: 115px;
    height: 151px;
    position: absolute;
    left: 1225.24px;
   top: 73px;
    transform-origin: 0 0;
    transform: rotate(8.855deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-14-removebg-preview-1 {
   opacity: 0.12999999523162842;
    width: 375px;
    height: 666px;
    position: absolute;
    left: 1089px;
   top: 103.55px;
    transform-origin: 0 0;
    transform: rotate(-52.763deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-14-removebg-preview-3 {
   opacity: 0.12999999523162842;
    width: 136.18px;
    height: 208.46px;
    position: absolute;
    left: 215.25px;
   top: 639px;
    transform-origin: 0 0;
    transform: rotate(32.58deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-14-removebg-preview-5 {
   opacity: 0.12999999523162842;
    width: 136.18px;
    height: 208.46px;
    position: absolute;
    left: 419.08px;
   top: 192.83px;
    transform-origin: 0 0;
    transform: rotate(-34.831deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-14-removebg-preview-4 {
   opacity: 0.12999999523162842;
    width: 373.1px;
    height: 433.83px;
    position: absolute;
    left: 32.27px;
   top: -31px;
    transform-origin: 0 0;
    transform: rotate(43.982deg) scale(1, 1);
   }

.blue-pink-illustrated-brain-quiz-time-instagram-story-14-removebg-preview-2 {
   border-radius: 125px;
    opacity: 0.12999999523162842;
    width: 316.13px;
    height: 353.9px;
    position: absolute;
    left: 519.15px;
   top: 479.83px;
    transform-origin: 0 0;
    transform: rotate(4.051deg) scale(1, 1);
   }

