html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bienvenida-MBp {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-1.png');
  background-color: #ffffff;
}
.bienvenida-MBp .preprate-para-la-aventura-intelectual-de-tu-vida-sZU {
  width: 73.3rem;
  height: 15.9rem;
  position: absolute;
  left: 12rem;
  top: 20rem;
  font-size: 5.8rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-MBp .el-universo-donde-la-trivia-cobra-vida-enfrenta-desafos-compite-con-jugadores-globales-y-escala-hasta-la-cima-del-saber-descbrelo-ahora-y-sumrgete-en-el-desafo-whk {
  width: 51.4rem;
  height: 8.2rem;
  position: absolute;
  left: 12rem;
  top: 38rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-MBp .group-1-7yc {
  width: 19.7rem;
  height: 6.4rem;
  position: absolute;
  left: 12rem;
  top: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 5rem;
  cursor: pointer;
  z-index: 1; /* Ajusta según sea necesario */
}
.bienvenida-MBp .group-2-9J2 {
  width: 39rem;
  height: 11.7rem;
  position: absolute;
  left: 2.4rem;
  top: 1.8rem;
  display: flex;
  align-items: center;
}
.bienvenida-MBp .group-2-9J2 .logo-CvW {
  margin-right: 3.6rem;
  width: 11.6rem;
  height: 11.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.bienvenida-MBp .group-2-9J2 .preguntopa-LG2 {
  margin-bottom: 0.7rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bienvenida-MBp .cerebroinicio-Qj4 {
  width: 56.6353rem;
  height: 52.6rem;
  position: absolute;
  left: 88rem;
  top: 10rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .text {
  width: 51.4rem;
  height: 8.2rem;
  position: absolute;
  left: 104.2rem;
  top: 7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-MBp .text2 {
  width: 51.4rem;
  height: 8.2rem;
  position: absolute;
  left: 104.2rem;
  top: 10rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-MBp .text3 {
  width: 45.9rem;
  height: 6.9rem;
  position: absolute;
  left: 26.6rem;
  top: 14rem;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-MBp .label {
  box-sizing: border-box;
  padding: 1rem 2.7rem 1.3rem 2.7rem;
  width: 70.7rem;
  height: 6.4rem;
  position: absolute;
  left: 14.9rem;
  top: 21rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3625;
  color: rgba(148, 148, 148, 0.7058823705);
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 2rem;
  text-align: center; /* Alinea el texto horizontalmente */
}
.bienvenida-MBp .group-3-7yc {
  width: 19.7rem;
  height: 6.4rem;
  position: absolute;
  left: 40.4rem;
  top: 29rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 5rem;
  cursor: pointer;
  z-index: 1; /* Ajusta según sea necesario */
}
.bienvenida-MBp .text4 {
  width: 73.3rem;
  height: 15.9rem;
  position: absolute;
  left: 15rem;
  top: 10rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-MBp .text5 {
  width: 73.3rem;
  height: 15.9rem;
  position: absolute;
  left: 15rem;
  top: 15rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-MBp .text6 {
  width: 42.9rem;
  height: 6.9rem;
  position: absolute;
  left: 21rem;
  top: 10rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-MBp .puntaje-DFp .text8 {
  width: 19.8rem;
  height: 15rem;
  position: absolute;
  left: 7.05rem;
  top: 7.1rem;
  text-align: center;
  font-size: 11rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-MBp .text9 {
  width: 15.9rem;
  height: 4.1rem;
  position: absolute;
  left: 15.8rem;
  top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffc707;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-MBp .image1 {
  width: 22rem;
  height: 20rem;
  position: absolute;
  left: 20rem;
  top: 15rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image2 {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 104.5rem;
  top: 15rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image3 {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 20rem;
  top: 35rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image4 {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 104.5rem;
  top: 35rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image5 {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 20rem;
  top: 55rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image6 {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 104.5rem;
  top: 55rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image7 {
  width: 30rem;
  height: 30rem;
  position: absolute;
  left: 57.25rem;
  top: 30rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image8 {
  width: 50rem;
  height: 50rem;
  position: absolute;
  left: 95rem;
  top: 10rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-MBp .image9 {
  width: 55rem;
  height: 50rem;
  position: relative;
  left: 82rem;
  top: 18rem;
  background-size: 100% 156.56%;
  background-position: 0rem -15.5181rem;
  background-image: url('../assets/CerebroWin.png');
}
.bienvenida-MBp .image-category {
  width: 50rem;
  height: 50rem;
  position: relative;
  left: 92rem;
  top: 17rem;
}
.button {
  width: 19.7rem;
  height: 6.4rem;
  position: absolute;
  left: 20rem;
  top: 67rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 5rem;
  cursor: pointer;
}
.buttonback {
  width: 19.7rem;
  height: 6.4rem;
  position: absolute;
  left: 45rem;
  top: 67rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 5rem;
  cursor: pointer;
}
/* Estilo para el primer botón */
.button1 {
  width: 72.9rem;
  height: 6.4rem;
  position: absolute;
  left: 10.8rem;
  top: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1;
}

/* Estilo para el segundo botón */
.button2 {
  width: 72.9rem;
  height: 6.4rem;
  position: absolute;
  left: 10.8rem;
  top: 16em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1;
}
/* Estilo para el tercer botón */
.button3 {
  width: 72.9rem;
  height: 6.4rem;
  position: absolute;
  left: 10.8rem;
  top: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1;
}

/* Estilo para el cuarto botón */
.button4 {
  width: 72.9rem;
  height: 6.4rem;
  position: absolute;
  left: 10.8rem;
  top: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1;
}
.bienvenida-MBp .text11 {
  width: 35.9rem;
  height: 5.5rem;
  position: absolute;
  left: 58.1rem;
  top: 10.3rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #f06f9a;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-MBp .text10 {
  width: 35.9rem;
  height: 5.5rem;
  position: absolute;
  left: 53.1rem;
  top: 15.3rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #f06f9a;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.reloj-emY {
  align-items: center;
  background-color:#ffb600;
  border-radius: 5rem;
  color:#1e1e1e;
  display: flex;
  font-family: 
  Nunito Sans, 'Source Sans Pro';
  font-size: 2.1rem;
  font-weight: 800;
  height: 6.5rem;
  justify-content: center;
  left: 123.5rem;
  line-height: 1.3625;
  position: absolute;
  top: 7rem;
  white-space: nowrap;
  width: 19.7rem;
}
.button:hover{
  border-color: #FFD700;
  border: 3px solid #FFD700;
}
.buttonback:hover{
  border-color: #FFD700;
  border: 3px solid #FFD700;
}
.button1:hover{
  border-color: #FFD700;
  border: 3px solid #FFD700;
}
.button2:hover{
  border-color: #FFD700;
  border: 3px solid #FFD700;
}
.button3:hover{
  border-color: #FFD700;
  border: 3px solid #FFD700;
}
.button4:hover{
  border-color: #FFD700;
  border: 3px solid #FFD700;
}

.bienvenida-MBp .group-1-7yc:hover{
  border-color: #FFD700;
  border: 1px solid #FFD700;
}
.bienvenida-MBp .group-3-7yc:hover{
  border-color: #FFD700;
  border: 1px solid #FFD700;
}
.bienvenida-MBp .table-container {
  width: 50%;
  height: 20%;
  position: absolute;
  left: 10rem;
  top: 37rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(204, 214, 221, 0.373);
}
.bienvenida-MBp .table {
  width: 100%;
}
.bienvenida-MBp .th, .bienvenida-MBp .td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.bienvenida-MBp .th {
  background-color: #4caf50;
  color: white;
}
.bienvenida-MBp .puntaje-DFp {
  width: 33.9rem;
  height: 33.2rem;
  position: absolute;
  left: 25.5rem;
  top: 16.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7.png');
}
.bienvenida-MBp .puntaje-DFp .puntos-ganados {
  width: 19rem;
  height: 6.9rem;
  position: absolute;
  left: 7.45rem;
  top: 21.4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-MBp .ganador {
  width: 47.5rem;
  height: 9.1rem;
  position: absolute;
  left: 18.7rem;
  top: 51rem;
  border-radius: 2.5rem;
}
.bienvenida-MBp .ganador .rectangle-3 {
  width: 47.5rem;
  height: 14rem;
  position: absolute;
  left: 0;
  top: 0.325rem;
  border: solid 0.4rem #c9cbd0;
  box-sizing: border-box;
  background-color: #6f7a9a;
  border-radius: 2.5rem;
}
.bienvenida-MBp .ganador .nombre-text {
  width: 11.4rem;
  height: 4.1rem;
  position: absolute;
  left: 18.1rem;
  top: 0.7667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-MBp .ganador .ganador-text {
  width: 15.9rem;
  height: 4.1rem;
  position: absolute;
  left: 15.8rem;
  top: 4.8292rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffc707;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}