html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
input {
  border: none;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.6rem;
}
.fondo_movil{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets_movil/fondo2.png');
  background-color: #ffffff;
}
.fondo_movil .auto-group {
  box-sizing: border-box;
  padding: 5.8rem 8.95rem 20.2rem 9.05rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets_movil/vector-2.png');
  flex-shrink: 0;
}
.fondo_movil .auto-group .preguntopa-L5G {
  margin: 0rem 0.5rem 2.6rem 0rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fondo_movil .auto-group .Title {
  max-width: 24.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.fondo_movil .auto-group-block {
  box-sizing: border-box;
  padding: 15rem 3.9rem 7.2rem 3.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.fondo_movil .auto-group-block .cerebroinicio{
  margin-left: 0.013rem;
  width: 20.613rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.2rem;
  flex-shrink: 0;
}
.fondo_movil .auto-group-block .buttonblue {
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #293175;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.fondo_movil .textLogin {
  position: absolute;
  left: 10rem;
  top: 53rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #293175;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fondo_movil .buttonsLogin {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.fondo_movil .buttonsLogin .buttonF {
  margin: 0rem 0.3rem 2rem 0.3rem;
  box-sizing: border-box;
  padding: 0.5rem 5rem 0.5rem 4.5rem;
  width: calc(100% - 0.6rem);
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #2992fb;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.fondo_movil .buttonsLogin .buttonF .iconF {
  margin: 0rem 0.883rem 0.1rem 0rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 6.5rem;
  top: 58rem;
}
.fondo_movil .buttonsLogin .buttonF .textF {
  margin-top: 0.2rem;
  position: absolute;
  left: 12rem;
  top: 58rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.fondo_movil .buttonsLogin .buttonA {
  margin: 0rem 0.4rem 2rem 0.2rem;
  box-sizing: border-box;
  padding: 0.5rem 5rem 0.5rem 4.5rem;
  width: calc(100% - 0.6rem);
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.fondo_movil .buttonsLogin .buttonA .iconA {
  margin: 0rem 1.4rem 1rem 0rem;
  width: 2.527rem;
  height: 3rem;
  position: absolute;
  left: 6.5rem;
  top: 65rem;
}
.fondo_movil .buttonsLogin .buttonA .textA {
  margin-top: 0.2rem;
  position: absolute;
  left: 13.5rem;
  top: 65rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.fondo_movil .buttonsLogin .buttonG {
  margin: 0rem 0.4rem 1.1rem 0.2rem;
  box-sizing: border-box;
  padding: 0.5rem 5rem 0.5rem 4.5rem;
  width: calc(100% - 0.6rem);
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.fondo_movil .buttonsLogin .buttonG .iconG {
  margin-right: 0.66rem;
  width: 2.94rem;
  height: 3rem;
  position: absolute;
  left: 6.5rem;
  top: 72rem;
}
.fondo_movil .buttonsLogin .buttonG .textG {
  margin-top: 0.2rem;
  position: absolute;
  left: 13rem;
  top: 72rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.fondo_movil .buttonsLogin .invitado {
  margin: 0rem 0.2rem 0.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.3640000025;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #293175;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.fondo_movil .buttonsLogin .invitado .play {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3625;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #293175;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.fondo_movil .buttonsLogin .privacidad {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #293175;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.fondo_movil .buttonsLogin .privacidad .sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #293175;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.fondo_movil .buttonsLogin .privacidad .sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  text-decoration-line: underline;
  color: #293175;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-Movil {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets_movil/fondo.png');
  background-color: #ffffff;
}
.bienvenida-Movil .rectangle-white {
  width: 41.5rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 84rem;
  background-color: #ffffff;
}
.bienvenida-Movil .rectangle-yellow {
  width: 41.5rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0rem;
  background-color: #ffe000;
}
.bienvenida-Movil .image-House {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 19rem;
  top: 84.7rem;
}
.bienvenida-Movil .logo {
  width: 4.9573rem;
  height: 5rem;
  position: absolute;
  left: 18.9rem;
  top: 5.5rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-Movil .oval-uDL {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 3rem;
  top: 2.3rem;
  border: solid 0.1rem #293175;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets_movil/oval-stroke.png');
  border-radius: 2rem;
}
.bienvenida-Movil .image-calender {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 6rem;
  top: 85rem;
}
.bienvenida-Movil .buttonred {
  width: 39rem;
  height: 5.8rem;
  position: absolute;
  left: 1.3rem;
  top: 74.5rem;
  background-color: #f06f9a;
  border-radius: 1.2rem;
}
.bienvenida-Movil .crear-partida {
  width: 17.5rem;
  height: 3.4rem;
  position: absolute;
  left: 12.65rem;
  top: 75.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-Movil .iniciar-juego {
  width: 23rem;
  height: 5rem;
  position: absolute;
  left: 9rem;
  top: 34.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ed709a;
  border-radius: 2rem;
}
.bienvenida-Movil .image-brain {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 32rem;
  top: 85rem;
}
.bienvenida-Movil .image-3line {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 37rem;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-Movil .image-config {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 3.5rem;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-Movil .image-bell {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 32rem;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-Movil .rectangle-grey {
  width: 39rem;
  height: 6.9rem;
  position: absolute;
  left: 1.9rem;
  top: 12rem;
  background-color: rgba(204, 214, 221, 0.8000000119);
  border-radius: 1.2rem;
}
.bienvenida-Movil .text1 {
  width: 25.3rem;
  height: 5.5rem;
  position: absolute;
  left: 12rem;
  top: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-Movil .cerebroGreat {
  width: 10rem;
  height: 16rem;
  position: absolute;
  left: 1rem;
  top: -4.5rem;
}
.bienvenida-Movil .Scores {
  position: absolute;
  left: 3.2rem;
  top: 19rem;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 3;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.bienvenida-Movil .table-container-movil {
  width: 90%;
  height: 35%;
  position: absolute;
  left: 2rem;
  top: 42rem;
  color: #ffffff;
  border: solid 0.1rem rgba(255, 255, 255, 0.8999999762);
  background-color: rgba(96, 73, 160, 0.8999999762);
  border-radius: 3rem;
  text-align: center;
  font-size: 12px;
}
.bienvenida-Movil .table-container-movil .table {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 14px; /* Ajusta el tamaño de la fuente */
}
.bienvenida-Movil .table-container-movil .table .th, .bienvenida-MBp .table-container-movil .table .td {
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff; /* Establece el color de las líneas internas de la tabla */
}
.bienvenida-Movil .table-container-movil .table tbody tr:nth-child(odd) {
  background-color: #646cb0; /* Color para filas impares del tbody */
  border: 1px solid #ffffff;
}
.bienvenida-Movil .table-container-movil .table tbody tr:nth-child(even) {
  background-color: #858dd1; /* Color para filas pares del tbody */
  border: 1px solid #ffffff;
}
.bienvenida-Movil .rectangle-opaco {
  width: 42.8rem;
  height: 92.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.bienvenida-Movil .rectangle-opaco .cerebroHi {
  width: 24.6rem;
  height: 31.6rem;
  position: absolute;
  left: 9.2rem;
  top: 39.6rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-Movil .rectangle-opaco .bubble {
  width: 23.5rem;
  height: 15.5rem;
  position: absolute;
  left: 13.75rem;
  top: 33.25rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.5rem;
}
.bienvenida-Movil .rectangle-opaco .textBubble {
  width: 17.8rem;
  height: 6.6rem;
  position: absolute;
  left: 16.6rem;
  top: 35.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-Movil .rectangle-opaco .textScreen {
  width: 17.9rem;
  height: 5rem;
  position: absolute;
  left: 12.5rem;
  top: 69.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-Movil .textnombre {
  position: absolute;
  left: 7rem;
  top: 23rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bienvenida-Movil .label {
  position: absolute;
  text-align: center;
  left: 4.5rem;
  top: 28rem;
  box-sizing: border-box;
  padding: 0.8rem 1.3rem 1rem 1.3rem;
  width: calc(100% - 8.2rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #9aa7b1;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
  }
.bienvenida-Movil .image-movil1 {
  width: 18rem;
  height: 26rem;
  position: absolute;
  left: 1.5rem;
  top: 28rem;
}
.bienvenida-Movil .image-movil2 {
  width: 18rem;
  height: 24rem;
  position: absolute;
  left: 22rem;
  top: 29.5rem;
}
.bienvenida-Movil .image-movil3 {
  width: 18rem;
  height: 26rem;
  position: absolute;
  left: 1.5rem;
  top: 50rem;
}
.bienvenida-Movil .image-movil4 {
  width: 18rem;
  height: 26rem;
  position: absolute;
  left: 21rem;
  top: 49rem;
}
.bienvenida-Movil .image-movil5 {
  width: 16rem;
  height: 24rem;
  position: absolute;
  left: 3rem;
  top: 67rem;
}
.bienvenida-Movil .image-movil6 {
  width: 20rem;
  height: 27rem;
  position: absolute;
  left: 21rem;
  top: 67rem;
}
.bienvenida-Movil .image-movil7 {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: 10rem;
  top: 5rem;
}
.bienvenida-Movil .text-movil1 {
  position: absolute;
  left: 10rem;
  top: 3rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #ffe000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bienvenida-Movil .text-movil2 {
  position: absolute;
  left: 9rem;
  top: 8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffe000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bienvenida-Movil .cerebroHi2 {
  width: 30rem;
  height: 30rem;
  position: absolute;
  left: 6rem;
  top: 40rem;
  object-fit: cover;
  vertical-align: top;
}
.bienvenida-Movil .bubble2 {
  width: 35rem;
  height: 35rem;
  position: absolute;
  left: 3.5rem;
  top: 15.25rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.5rem;
}
.bienvenida-Movil .textBubble2 {
  width: 32rem;
  height: 6rem;
  position: absolute;
  left: 5rem;
  top: 23rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.bienvenida-Movil .logo-Sok {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 16rem;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.bienvenida-Movil .iconoHI {
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 14rem;
  top: 72rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.bienvenida-Movil .preguntopa-NBc {
  position: absolute;
  left: 12.5rem;
  top: 16rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffe000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.bienvenida-Movil .block {
  margin-bottom: 10rem;
  box-sizing: border-box;
  padding: 0.95rem 2.55rem 0.95rem 3.4rem;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  flex-shrink: 0;
}
.bienvenida-Movil .block .points{
}
.bienvenida-Movil .block .life{
}
.bienvenida-Movil .block .reloj-movil{
  align-items: center;
  background-color:#ffb600;
  border-radius: 5rem;
  color:#1e1e1e;
  display: flex;
  font-family: 
  Nunito Sans, 'Source Sans Pro';
  font-size: 2.1rem;
  font-weight: 800;
  height: 6.5rem;
  justify-content: center;
  left: 123.5rem;
  line-height: 1.3625;
  position: absolute;
  top: 7rem;
  white-space: nowrap;
  width: 19.7rem;
}
.bienvenida-Movil .block .image-category-movil{
}
.bienvenida-Movil .block .options-movil{
}
.bienvenida-Movil .block .respuesta-movil{
}
.bienvenida-Movil .question{
}